.deadpool-list {
  height: 100%;
  width: 200px;
  background-color: #1c1111;
  border-right: #604300 1px solid;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  color: #fffdf4;

  &__header {
    padding: 8px 8px 12px 8px;
  }

  &__join-msg {
    text-align: center;
    padding: 8px 8px 12px 8px;
  }
}